.events {
  margin: 100px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events__slider {
  width: 100%;
}

.events__slider .swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.events__slider .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.events__slider .swiper-slide img {
  display: block;
  width: 100%;
}

.swiper-pagination-bullet {
  background: var(--color-primary);
  width: 15px;
  height: 15px;
}

@media screen and (min-width: 860px) {
  .events__slider .swiper-slide {
    width: 500px;
    height: 500px;
  }
}

@media screen and (min-width: 1068px) {
  .events__slider .swiper {
    width: 80%;
  }

  .events__slider .swiper-slide {
    width: 600px;
    height: 600px;
  }
}
