.contact {
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  gap: 50px;
}

.contact__socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 600px;
}

.contact__form .section__subtitle {
  font-size: 3rem;
  text-align: start;
}
.contact__socials .section__subtitle {
  font-size: 3rem;
  text-align: start;
}

.socials__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.socials__container .socials__item {
  width: 70px;
  height: 70px;
  font-size: 3rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  background: var(--color-primary);
  transition: background 0.5s ease;
}

.socials__container .socials__item:hover {
  background: #ae8539;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  max-width: 380px;
  color: var(--color-white);
}

.contact__form .form__input {
  position: relative;
  width: 100%;
}

.form__input label {
  position: absolute;
  top: -11px;
  left: 20px;
  padding: 0 10px;
  background: var(--color-black);
}

.contact__form input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  background: transparent;
  padding-left: 10px;
  color: var(--color-white);
}

.contact__form textarea {
  width: 100%;
  background: transparent;
  border-radius: 10px;
  border: 2px solid var(--color-primary);
  padding-left: 10px;
  padding-top: 15px;
  color: var(--color-white);
}

.contact__form .form__btn {
  width: 150px;
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: 30px;
  padding: 10px 30px;
  align-self: flex-start;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.5s ease;
}

.contact__form .form__btn:hover {
  background: #ae8539;
}

@media screen and (min-width: 1226px) {
  .contact {
    gap: 0;
  }
}
